<!--
<h3>
	<a name='Manuscripts'></a> Manuscripts
</h3>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Tensor LRR for Data Recovery and Clustering</strong><br />
       <strong>Pan Zhou</strong>, Canyi Lu, et al., submitted to IJCV (Major Revision), 2017.<br />
	   <a href="https://arxiv.org/abs/1705.07038">[PDF]</a>
   </p>
  </div>
</div>
-->

<h3>
	<a name='publications'></a> Publications
</h3>
<!--
<h4>
	<a name='2021'></a> 2021
</h4>
--> 
<div class="media">
  <div class="media-body">
    <p class="media-heading">
	  <strong> 刘盛 </strong>  ,  曾海金, 孔文凤, 张鹏丹. 2021 .  <strong> 基于频率加权张量核范数的高光谱图像复原 </strong>. 中国图象图形学报
	    ,26(08):1910-1925)[DOI:10. 11834 / jig. 210021].  
	  <br />
	    <a href="http://www.cjig.cn/jig/ch/reader/view_abstract.aspx?file_no=20210813&flag=1">[PDF]</a>
		  
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Sheng Liu</strong>, Xiaozhen Xie, Wenfeng Kong and Jifeng Ning. 2021 .
	 <strong> Multi-modal and frequency-weighted tensor nuclear norm for hyperspectral image denoising</strong> . 
       
	   (submitted). <br />
	    <a href="assets/pdf/2021-NonFWTNN.pdf">[PDF]</a>
	    <a href="https://arxiv.org/pdf/2106.12489.pdf">[Axriv]
   </p>
  </div>
</div>

<div class="media">
  <div class="media-body">
    <p class="media-heading">
      <strong>Sheng Liu</strong>, Xiaozhen Xie, and Wenfeng Kong. 2021 .
	 <strong>   Hyperspectral Image Restoration via Multi-mode and Double-weighted Tensor Nuclear Norm Minimization</strong> . 
       
	   (submitted). <br />
	    <a href="assets/pdf/2021_MDWTNN.pdf">[PDF]</a>
	    <a href="https://arxiv.org/pdf/2101.07681.pdf">[Axriv]</a>
	    <a href="assets/bibtex/2021-MDWTNN.txt">[Bibtex]</a>
   </p>
  </div>
</div>








	    

